* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Montserrat;
}
.signInPage {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgb(3, 2, 20);
  background-color: #131722;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
span {
  display: block;
  font-size: 22px;
  color: rgb(250, 62, 62);
  margin: -50px 0 15px 0;
  letter-spacing: 1pxs;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.TextLogo {
  width: 580px;
  height: 98px;
  margin-top: 35px;
}
.ImgLogo {
  width: 264px;
  height: 274px;
  margin-top: 15px;
}
.main {
  color: #fff;
  margin: 3vh 25%;
}
.signInHeading {
  font-size: 58px;
  font-weight: 500;
  margin-bottom: 45px;
}
.InputHeading {
  font-size: 29px;
  opacity: 80%;
}
.InputField {
  height: 70px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 34px;
  padding: 20px;
  margin: 30px 0 75px 0;
  border: 1px solid rgba(196, 196, 196, 0.548);
  transition: 0.2s all ease-in-out;
  background-color: #151720;
}
.InputField:hover {
  transform: scale(1.02);
  /* border: 1px solid rgb(245, 204, 71); */
}
.Input {
  color: #fff;
  font-size: 26px;
  width: 100%;
  height: 54px;
  border: none;
  outline: none;
  background-color: #151720;
  margin-left: 15px;
}
.heading-small {
  font-size: 24px;
  opacity: 90%;
}
.SignInBtn {
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
  display: block;
  margin: 70px 0 40px 0;
  border: none;
  cursor: pointer;
}
.SignInBtn:hover {
  transform: scale(1.05);
  /* background-color: rgb(245, 204, 71); */
}
.heading-signUp {
  /* color: rgb(245, 204, 71); */
  padding: 0 10px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

/*======================================================================================================
 media Queries
 ====================================================================================================== */

@media (max-width: 1500px) {
  .TextLogo {
    width: 380px;
    height: 56px;
    margin-top: 30px;
  }
  .ImgLogo {
    width: 124px;
    height: 134px;
  }
  .signInHeading {
    font-size: 27px;
    margin-bottom: 30px;
  }
  span {
    font-size: 12px;
    margin: -25px 0 10px 0;
  }
  .InputHeading {
    font-size: 14px;
  }
  .InputField {
    font-size: 20px;
    height: 18px;
    padding: 17px 15px;
    margin: 15px 0 35px 0;
  }
  .Input {
    font-size: 14px;
    height: 20px;
  }
  .heading-small {
    font-size: 12px;
  }
  .SignInBtn {
    padding: 10px 20px;
    font-size: 14px;
    margin: 35px 0 14px 0;
  }
  .heading-signUp {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .TextLogo {
    width: 250px;
    height: 42px;
  }
  .ImgLogo {
    width: 104px;
    height: 114px;
  }
  span {
    font-size: 12px;
  }
  .signInHeading {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .InputHeading {
    font-size: 14px;
  }
  .InputField {
    font-size: 20px;
    padding: 18px 10px;
  }
  .Input {
    font-size: 13px;
  }
  .heading-small {
    font-size: 11px;
  }
  .SignInBtn {
    padding: 8px 16px;
    font-size: 13px;
    margin: 25px 0 10px 0;
  }

  .heading-signUp {
    font-size: 13px;
  }
}
